<a class="btn btn-danger mb-4 mt-2 rounded-pill py-3 px-4" href="/"><i class="fa-solid fa-circle-chevron-left me-2"></i> To Homepage</a>
<a class="btn btn-success mb-4 mt-2 rounded-pill py-3 px-4" href="/calendar"><i class="fa-solid fa-circle-chevron-right me-2"></i> To Calendar</a>
<%= form_with model: @checkout, url: history_path()+'/save_as_csv', method: 'POST', class: 'd-inline' do |form| %>
    <div class="mt-4 d-inline">
        <%= form.submit 'Save as CSV', class: 'btn btn-warning mb-4 mt-2 rounded-pill py-3 px-4' %>
    </div>
<% end %>

<h2 class="text-center">All Checkout</h2>
<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
            <th scope="col">Properties</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="tb_checkout_body">
        <% @checkouts.each do |c| %>
            <tr>
                <td><%= c.checkout_type.titleize %></td>
                <td><%= c.checkout_desc.present? ? c.checkout_desc : "<span class='fst-italic' style='font-size: 14px;'>- No data -</span>".html_safe %></td>
                <td>
                    <p><b>From :</b> <%= c.checkout_origin.titleize %></p>
                    <p><b>To :</b> <%= c.checkout_destination.titleize %></p>
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#propsModal_<%= c.id %>"><i class="fa-solid fa-circle-info"></i></button>

                    <div class="modal fade" id="propsModal_<%= c.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Properties</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h6 class="mb-0">Created At</h6>
                                    <p><%= c.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                                    <h6 class="mb-0">Updated At</h6>
                                    <p><%= c.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#destroyModal_<%= c.id %>"><i class="fa-solid fa-trash"></i></button>

                    <div class="modal fade" id="destroyModal_<%= c.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <%= form_with model: @checkout, url: history_path(@checkout)+'/'+c.id.to_s , method: :delete do |form| %>
                                        <%= form.label :checkout_type, 'Are you sure to delete this checkout?' %>
                                        <div class="mt-4">
                                            <%= form.submit 'Delete', class: 'btn btn-danger w-100 py-3 px-2' %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>