<a class="btn btn-danger mb-4 mt-2 me-2 rounded-pill py-3 px-4" href="/"><i class="fa-solid fa-circle-chevron-left me-2"></i> To Homepage</a>
<a class="btn btn-success mb-4 mt-2 me-2 rounded-pill py-3 px-4" data-bs-toggle="modal" data-bs-target="#addPlaceModal" id="add_place_btn"><i class="fa-solid fa-plus me-2"></i> Add New Place</a>
<a class="btn btn-success mb-4 mt-2 rounded-pill py-3 px-4" data-bs-toggle="modal" data-bs-target="#addCheckoutTypeModal" id="add_checkout_type_btn"><i class="fa-solid fa-plus me-2"></i> Add New Checkout Type</a>
<%= form_with model: @checkout, url: setting_path()+'/save_place_as_csv', method: 'POST', class: 'd-inline' do |form| %>
    <div class="mt-4 d-inline">
        <%= form.submit 'Save Place as CSV', class: 'btn btn-warning mb-4 mt-2 rounded-pill py-3 px-4' %>
    </div>
<% end %>

<div class="modal fade" id="addPlaceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Place</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= form_with model: @checkout, url: setting_path()+'/place' do |form| %>
                    <div class="form-floating">
                        <%= form.select :place_category,
                            options_for_select([
                                'Origin & Destination','Origin','Destination'
                            ]), {}, 
                            { class: 'form-select', id:'place_category', 'aria-label': 'Floating label select example' } %>
                        <%= form.label :place_category, 'Place Category' %>
                        
                    </div>

                    <div class="form-floating mt-2">
                        <%= form.text_field :place_name, class: 'form-control', id: 'place_name' %>
                        <%= form.label :place_name, 'Place Name' %>
                        
                    </div>

                    <div class="mt-4">
                        <%= form.submit 'Save Place', id:"save_place", class: 'btn btn-success w-100 py-3 px-2' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addCheckoutTypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Checkout Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= form_with model: @checkout, url: setting_path()+'/dct' do |form| %>
                    <div class="form-floating mt-2">
                        <%= form.text_field :dictionary_name, class: 'form-control', id: 'checkout_type' %>
                        <%= form.label :checkout_type, 'Checkout Type' %>
                        <%= form.text_field :dictionary_type, class: 'form-control', id: 'floatingInput', value: 'checkout_type', hidden: true %>
                    </div>

                    <div class="mt-4">
                        <%= form.submit 'Save Checkout Type', id:'save_checkout_type', class: 'btn btn-success w-100 py-3 px-2' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h2 class="text-center">All Origin</h2>
        <div id="origin_holder">
            <% @origin.each do |dt| %>
                <div class="container-fluid px-4 py-3 mb-2 rounded">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6><%= dt.place_name.titleize %></h6>
                            <p class="mb-0"><b>Created At</b> <%= dt.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editOriginModal_<%= dt.id %>"><i class="fa-solid fa-pen-to-square"></i></button>

                            <div class="modal fade" id="editOriginModal_<%= dt.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Origin</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" value="<%= dt.place_name %>" required>
                                                <label for="floatingInput">Place Name</label>
                                            </div>
                                            <button class="btn btn-success w-100 mt-2 py-3 px-2">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#destroyOriginModal_<%= dt.id %>"><i class="fa-solid fa-trash"></i></button>

                            <div class="modal fade" id="destroyOriginModal_<%= dt.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <%= form_with model: @place, url: setting_path()+'/place/'+dt.id.to_s , method: :delete do |form| %>
                                                <%= form.label :checkout_type, 'Are you sure to delete this origin?' %>
                                                <div class="mt-4">
                                                    <%= form.submit 'Delete', class: 'btn btn-danger w-100 py-3 px-2' %>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h2 class="text-center">All Destination</h2>
        <div id="destination_holder">
            <% @destination.each do |dt| %>
                <div class="container-fluid px-4 py-3 mb-2 rounded">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6><%= dt.place_name.titleize %></h6>
                            <p class="mb-0"><b>Created At</b> <%= dt.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editDestinationModal_<%= dt.id %>"><i class="fa-solid fa-pen-to-square"></i></button>

                            <div class="modal fade" id="editDestinationModal_<%= dt.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Destination</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" value="<%= dt.place_name %>" required>
                                                <label for="floatingInput">Place Name</label>
                                            </div>
                                            <button class="btn btn-success w-100 mt-2 py-3 px-2">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#destroyDestinationModal_<%= dt.id %>"><i class="fa-solid fa-trash"></i></button>

                            <div class="modal fade" id="destroyDestinationModal_<%= dt.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <%= form_with model: @place, url: setting_path()+'/place/'+dt.id.to_s , method: :delete do |form| %>
                                                <%= form.label :checkout_type, 'Are you sure to delete this destination?' %>
                                                <div class="mt-4">
                                                    <%= form.submit 'Delete', class: 'btn btn-danger w-100 py-3 px-2' %>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 pt-3">
        <h2 class="text-center">Checkout Type</h2>
        <div class="row" id="checkout_type_holder">
            <% @dct_checkout_type.each do |dt| %>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="container-fluid px-4 py-3 mb-2 rounded">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6><%= dt.dictionary_name.titleize %></h6>
                                <p class="mb-0"><b>Created At</b> <%= dt.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#destroyCheckoutTypeModal_<%= dt.id %>"><i class="fa-solid fa-trash"></i></button>

                                <div class="modal fade" id="destroyCheckoutTypeModal_<%= dt.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <%= form_with model: @place, url: setting_path()+'/dct/'+dt.id.to_s , method: :delete do |form| %>
                                                    <%= form.label :checkout_type, 'Are you sure to delete this checkout type?' %>
                                                    <div class="mt-4">
                                                        <%= form.submit 'Delete', class: 'btn btn-danger w-100 py-3 px-2' %>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
